html,body{width:100%;height:100%;}
body{border-top:solid 36px #ffc800;background: #333638;}
.bc-image{background-image:url('../images/mow.jpg');background-repeat:no-repeat;width:100%;height:100%;background-size: cover;}
.logo{background-image:url('../images/logo.png');background-repeat:no-repeat;width:100%;height:36px;background-position: center; position:absolute;top:0;}

h1,h2,h3,h4,h5,label{text-transform: uppercase;}
.bg{background:url("../images/phone.png") no-repeat center center;height:720px;}
.custom{width: 310px;float: none;margin: 0 auto; margin-top: 100px;}
.marginTop50{margin-top:50px;}
.marginTop25{margin-top:25px;}
.marginTop10{margin-top:10px;}
.marginTop0{margin-top:0px;}

.title {font-size: 15px; font-weight:700}
.customdropdown {width:100%; height:45px; border-radius: 4px; text-align: center}
.customHeight45{height:45px; }

button{padding-right:25px !important;padding-left:25px !important;}

select[disabled] {background-color: #eee;}
