
<div class="row bg" ng-controller="mainCtrl">
  <div class="col-md-12">
	<div class="custom">

	<form name="workAddress" novalidate>
	<div class="clearfix" ng-show="pickTeam">
		<div>
			<h1 class="title">Pick your team</h1>
			<select id="customdropdown" class="dropdown customdropdown" ng-disabled= "disableTeam" ng-model = "teamName" ng-options="teamName for teamName in teams" ng-change="selectedTeam(teamName)">{{teamName}} </select>
		</div>
		<div ng-show="showSchedule">
			<div class="form-group">
				<label for="address" style="padding-top: 2%">Address</label>
				<p class="form-control" min="1" id="address">{{getAddressValue}}</p>
			</div>
		</div>
		<div class="alert alert-danger marginTop25" ng-show="showNoAddress">
			<strong>{{noSchedule}}</strong>
		</div>
		<div class="alert alert-success  marginTop25" ng-show="showDuriation">
		  Total Duriation:  <strong>{{totalDuriation}} minutes</strong>
		</div>
		<div class="clearfix marginTop25">
		  	<button type="submit" class="btn btn-default btn-lg" ng-click="backToTeam()" ng-show="showBackToTeam" >{{selectTeamBack}}</button>
		    <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="getIPLocation()" ng-show="showSearchAddress" >{{searchAddress}}</button>
			<button type="submit" class="btn btn-primary btn-lg" ng-click="getNextSchedule()" ng-show="showNext" >{{NextAddress}}</button>
			<!-- <button type="submit" class="btn btn-success btn-lg pull-right" ng-click="startJob()" ng-show="showStart">Start Job</button> -->
		</div>	
	</div>  
	  <!--<div> 
		<p>MyLocation1: {{myLatitude}}</p>
		<p>MyLocation2: {{myLongitude}}</p>
	  </div>
	  <div> 
		<p>Enterned Location1: {{eLatitude}}</p>
		<p>Enterned Location2: {{eLongitude}}</p>
	  </div>-->
	  	
		<div class="clearfix marginTop10">
			<button type="submit" class="pull-left btn btn-default btn-lg" ng-click="StopJob()" ng-show="showComplete">Complete Job</button>
			<button type="submit" class="pull-right btn btn-danger btn-lg" ng-click="cancelJob()" ng-show="showCancel">Cancel Job</button>
		</div>
			
		<div class="clearfix" ng-show="showReasonForCancel">
			<h1 class="title">Select reason for cancellation</h1>
			<select class="dropdown customdropdown" ng-model="cancelreasonSelection" ng-options="x for x in cancelReasonText" ng-change="selectJobCancel(cancelreasonSelection)"></select>
			<button type="submit" class="btn btn-primary btn-lg pull-left marginTop25" ng-click="submitCancelJob(cancelreasonSelection)" ng-disabled="cancelReasonSelected">Submit</button>
		</div>
	</form>
	</div>
  </div>
</div>
